.centeredDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flexSizeOverride {
	min-width: 0;
	min-height: 0;
}

.inlineCenteredText {
	display: inline;
	-webkit-font-smoothing: none;
}

.marginBlocks {
	margin-block-start: 1em;
	margin-block-end: 1em;
}

.disableFiltering {
	image-rendering: pixelated;
}

.messageBox {
	position: fixed;
	background-image: url(/Resources/darkbackgroundtiled.png);
	background-repeat: space;
	image-rendering: pixelated;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 100;
}