body {
    background-color: #396ba5;
}

.postsSprite {
    content: url("/Resources/Icons/XP/wordpad.png");
}

.projectsSprite {
    content: url("/Resources/Icons/XP/worlddirectories.png");
}

.aboutSprite {
    content: url("/Resources/Icons/XP/help.png");
}

.msgErrorSprite {
    content: url("/Resources/Icons/XP/MessageBox/error.png")
}

.msgQuestionSprite {
    content: url("/Resources/Icons/XP/MessageBox/question.png")
}

.msgInformationSprite {
    content: url("/Resources/Icons/XP/MessageBox/information.png")
}

.bottomBar {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 3px;
    margin-left: 3px;
}